flows.json
[{"id":"4a87a320.fc58bc","type":"tab","label":"DEMO_DATA","disabled":false,"info":""},{"id":"74e3f718.0b1be8","type":"tab","label":"Heatmap Demos","disabled":true,"info":""},{"id":"60c0e938.254938","type":"tab","label":"Heatmap Test","disabled":false,"info":""},{"id":"e5e8c60e.967df8","type":"tab","label":"KeyboardControl","disabled":false,"info":""},{"id":"ff231738.383d08","type":"tab","label":"Data Storage","disabled":true,"info":""},{"id":"1dbac420.ec6cfc","type":"tab","label":"MeasureDash","disabled":false,"info":""},{"id":"4d830b21.929554","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d1ee2ebb.630d4","type":"ui_group","z":"","name":"Heatmap","tab":"ea4ec0ce.0d947","disp":true,"width":"18","collapse":false},{"id":"5c083981.6e9bf8","type":"ui_tab","z":"","name":"Traced Heatmap (DEMO)","icon":"dashboard","order":2},{"id":"d0bd4eba.e5817","type":"ui_group","z":"","name":"CurrentPos Test","tab":"18b1d74.6b38129","order":1,"disp":true,"width":"18","collapse":false},{"id":"ea4ec0ce.0d947","type":"ui_tab","z":"","name":"Current Position (DEMO)","icon":"dashboard","order":3},{"id":"5170e8d7.b586d8","type":"ui_group","z":"","name":"Heatmap","tab":"5c083981.6e9bf8","disp":true,"width":"18","collapse":false},{"id":"56ae78bc.256398","type":"HIDConfig","z":"","vid":"1118","pid":"767","name":"XboxC"},{"id":"97264f1f.afc62","type":"HIDConfig","z":"","vid":"1112","pid":"58","name":"Mouse"},{"id":"18b1d74.6b38129","type":"ui_tab","z":"","name":"Heatmap Test","icon":"dashboard","order":1},{"id":"96e36af9.327fd8","type":"ui_group","z":"","name":"CPU","tab":"38b8df7b.d3299","order":1,"disp":true,"width":"4","collapse":false},{"id":"d4a78da.1b4757","type":"ui_group","z":"","name":"Main Variables","tab":"38b8df7b.d3299","order":2,"disp":true,"width":"15","collapse":false},{"id":"88771428.342088","type":"ui_group","z":"","name":"Battery","tab":"38b8df7b.d3299","disp":true,"width":"4","collapse":false},{"id":"38b8df7b.d3299","type":"ui_tab","z":"","name":"Measurements","icon":"dashboard","order":3},{"id":"f169c694.bdfc38","type":"function","z":"74e3f718.0b1be8","name":"Position Change","func":"// Generate some random data\n// See https://www.patrick-wied.at/static/heatmapjs/example-minimal-config.html\nmsg.payload = [];\n\nconst values =    [584,583,615,614,646,678,677,709,708,740,772,804,836,868,900,933,966,999,1032,1065,1099,1133,1167,1201,1202,1236,1270,1304,1305,1306,1307,1308,1342,1375,1408,1407,1406,1405,1404,1370,1369,1335,1301,1267,1233,1200,1167,1134,1101,1068,1035,1002,969,936,903,871,839,840,808,776,744,712,713,714,715,716]\nconst intensity = [ 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 80, 80, 80, 80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  65,  50,  45,  40,  40,  40,  50,  65,  80,  85,  65,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50, 50, 50, 50, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65]\nvar index = context.get('value_index') || 0;\n\nif (index >= values.length) {\n    index = 0;\n}\n\nfor (var i = 0; i < 1617; i++) {\n    if ( i === values[index]) {\n        msg.payload.push(intensity[index]);\n    }\n    else {\n        msg.payload.push(0);\n    }\n}\n\nindex += 1;\ncontext.set('value_index', index);\n//msg.payload.intensityLength=values.length\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["1691b5eb.dec50a"]]},{"id":"ea7c1294.e05db","type":"inject","z":"74e3f718.0b1be8","name":"Show heatmap","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":200,"wires":[["9116aa3b.cf7168","f169c694.bdfc38"]]},{"id":"19c16806.8fa1f8","type":"inject","z":"74e3f718.0b1be8","name":"Show background","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":370,"y":200,"wires":[["c0dc092b.0ef928"]]},{"id":"4c7aa180.42c9c","type":"change","z":"74e3f718.0b1be8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[["849f807c.33d6e","1691b5eb.dec50a"]]},{"id":"c0dc092b.0ef928","type":"file in","z":"74e3f718.0b1be8","name":"Load Image","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Docs & Info\\Images\\terrenoEnsenada-Negativo.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":200,"wires":[["6bc4b5ff.048e6c"]]},{"id":"9116aa3b.cf7168","type":"function","z":"74e3f718.0b1be8","name":"Draw Route","func":"var coordActives = global.get('ruta')||[584,583,615,614,646,678,677,709,708,740,772,804,836,868,900,933,966,999,1032,1065,1099,1133,1167,1201,1202,1236,1270,1304,1305,1306,1307,1308,1342,1375,1408,1407,1406,1405,1404,1370,1369,1335,1301,1267,1233,1200,1167,1134,1101,1068,1035,1002,969,936,903,871,839,840,808,776,744,712,713,714,715,716]\n//var intensity = flow.get('currTilt')||65;\nconst intensity = [ 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 80, 80, 80, 80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  65,  50,  45,  40,  40,  40,  50,  65,  80,  85,  65,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50, 50, 50, 50, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65]\nflow.set('currTilt',intensity) //Sólo para el primer uso\n\nmsg.payload = [] //Configura el Payload como arreglo\n\nfor(var i = 0; i < 1617; i++) //Tamaño de la Matriz\n{\n    for (index=0; index < coordActives.length; index++) {//Revisa cada coordenada,\n        if (i === coordActives[index]) {// a ver si estamos en alguna de las activas\n           msg.payload[i]=intensity[index]; //Si sí, la colorea\n           break;\n      }\n        else {\n            msg.payload[i]=0; //Si no, la deja en azul\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["849f807c.33d6e","98c6ae23.a9746"]]},{"id":"467b8430.1ba46c","type":"inject","z":"74e3f718.0b1be8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1.5","x":130,"y":420,"wires":[["d287520c.01a82"]]},{"id":"d287520c.01a82","type":"function","z":"74e3f718.0b1be8","name":"Update Tilt Map","func":"var coordActives = global.get('ruta')||[650, 617, 584, 583, 582, 581, 580, 579, 578]\nvar intensity = flow.get('currTilt');\nflow.set('currTilt',intensity) //Sólo para el primer uso\n\nmsg.payload = [] //Configura el Payload como arreglo\n\nfor(var i = 0; i < 1617; i++) //Tamaño de la Matriz\n{\n    for (index=0; index < coordActives.length; index++) {//Revisa cada coordenada,\n        if (i === coordActives[index]) {// a ver si estamos en alguna de las activas\n           msg.payload[i]=intensity; //Si sí, la colorea\n           break;\n      }\n        else {\n            msg.payload[i]=0; //Si no, la deja en azul\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[[]]},{"id":"6bc4b5ff.048e6c","type":"base64","z":"74e3f718.0b1be8","name":"","action":"","property":"payload","x":700,"y":200,"wires":[["4c7aa180.42c9c"]]},{"id":"849f807c.33d6e","type":"ui_heat_map","z":"74e3f718.0b1be8","group":"5170e8d7.b586d8","order":0,"width":"18","height":"12","name":"Traced Route","rows":"33","columns":"49","minMax":true,"minimumValue":0,"maximumValue":"100","backgroundType":"image","backgroundColor":"#ff80c0","radius":"30","opacity":"0.5","blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":"3","x":1080,"y":160,"wires":[]},{"id":"73456997.d29dc8","type":"link out","z":"4a87a320.fc58bc","name":"fromMemOut","links":["393358ab.2e0d98"],"x":655,"y":180,"wires":[]},{"id":"1425e1b7.b25e4e","type":"link out","z":"4a87a320.fc58bc","name":"fromCPULoad ","links":["bd0c4ded.c7846","3769e2af.563b4e"],"x":655,"y":140,"wires":[]},{"id":"ec389116.c41c7","type":"link out","z":"4a87a320.fc58bc","name":"fromCPUTemp","links":["bd0c4ded.c7846","5b692c71.2d0b84"],"x":655,"y":100,"wires":[]},{"id":"531c1356.af236c","type":"inject","z":"4a87a320.fc58bc","name":"T CPU","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"2","x":260,"y":100,"wires":[["35bd7514.97e1ba"]]},{"id":"af51b6c.9898348","type":"inject","z":"4a87a320.fc58bc","name":"CPU LOAD","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"2","x":270,"y":140,"wires":[["b45f8b3b.f9e888"]]},{"id":"4c642c2b.cdad94","type":"inject","z":"4a87a320.fc58bc","name":"MEM ","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":180,"wires":[["77dd90e.375217"]]},{"id":"1c35ceed.39db61","type":"comment","z":"4a87a320.fc58bc","name":"Aquí se van a estar generando valores aleatorios pero coherentes para cada gráfica para el demo de la interfaz.","info":"","x":400,"y":40,"wires":[]},{"id":"35bd7514.97e1ba","type":"function","z":"4a87a320.fc58bc","name":"Generador T CPU***","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["ec389116.c41c7"]]},{"id":"b45f8b3b.f9e888","type":"function","z":"4a87a320.fc58bc","name":"Generador CPU LOAD","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          82.1, 29.6, 55.3, 100]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["1425e1b7.b25e4e"]]},{"id":"77dd90e.375217","type":"function","z":"4a87a320.fc58bc","name":"Generador MEM","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["73456997.d29dc8"]]},{"id":"bd0c4ded.c7846","type":"link in","z":"ff231738.383d08","name":"Variables","links":["ec389116.c41c7","4e469d5.bc00e64","1425e1b7.b25e4e"],"x":235,"y":160,"wires":[["b7fb9c45.6eade"]]},{"id":"a3326869.752058","type":"csv","z":"ff231738.383d08","name":"Data to CSV conv","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":690,"y":160,"wires":[["33a5eb64.d61524"]]},{"id":"365aea51.9326d6","type":"join","z":"ff231738.383d08","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":160,"wires":[["a3326869.752058"]]},{"id":"b7fb9c45.6eade","type":"batch","z":"ff231738.383d08","name":"Grouper","mode":"interval","count":"4","overlap":0,"interval":"1","allowEmptySequence":true,"topics":[],"x":360,"y":160,"wires":[["365aea51.9326d6"]]},{"id":"33a5eb64.d61524","type":"file","z":"ff231738.383d08","name":"Data File","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Serch\\MissionLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":880,"y":160,"wires":[[]]},{"id":"4c2e8191.953aa","type":"inject","z":"4a87a320.fc58bc","name":"","topic":"","payload":"Charge (V)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":790,"y":200,"wires":[["2d2e56d7.e0707a"]]},{"id":"31c2a49d.6220cc","type":"inject","z":"4a87a320.fc58bc","name":"","topic":"","payload":"CPU Load (%)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":800,"y":120,"wires":[["1425e1b7.b25e4e"]]},{"id":"98aa37ca.f3ae38","type":"inject","z":"4a87a320.fc58bc","name":"","topic":"","payload":"CPU Temp (C)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":800,"y":60,"wires":[["ec389116.c41c7"]]},{"id":"7c1d2dab.6fb7a4","type":"inject","z":"ff231738.383d08","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.05","x":470,"y":360,"wires":[["9ff642f6.e25f6"]]},{"id":"9ff642f6.e25f6","type":"file","z":"ff231738.383d08","name":"Delete data File","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Serch\\MissionLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"delete","encoding":"none","x":660,"y":360,"wires":[[]]},{"id":"1691b5eb.dec50a","type":"ui_heat_map","z":"74e3f718.0b1be8","group":"d1ee2ebb.630d4","order":0,"width":"18","height":"12","name":"Current Position","rows":"33","columns":"49","minMax":true,"minimumValue":0,"maximumValue":"100","backgroundType":"image","backgroundColor":"#ff80c0","radius":"30","opacity":"0.5","blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":"3","x":1080,"y":240,"wires":[]},{"id":"98c6ae23.a9746","type":"debug","z":"74e3f718.0b1be8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":100,"wires":[]},{"id":"f4373c59.1de4a","type":"keypress","z":"e5e8c60e.967df8","key":"","x":120,"y":220,"wires":[["89d613b4.3fe0c"]]},{"id":"89d613b4.3fe0c","type":"change","z":"e5e8c60e.967df8","name":"Key->Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["b61fce54.e594d","1760991e.9b73a7"]]},{"id":"b61fce54.e594d","type":"switch","z":"e5e8c60e.967df8","name":"Keys","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"right","vt":"str"},{"t":"eq","v":"left","vt":"str"},{"t":"eq","v":"return","vt":"str"},{"t":"eq","v":"f1","vt":"str"},{"t":"eq","v":"f2","vt":"str"},{"t":"eq","v":"f3","vt":"str"},{"t":"eq","v":"w","vt":"str"},{"t":"eq","v":"a","vt":"str"},{"t":"eq","v":"s","vt":"str"},{"t":"eq","v":"d","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":530,"y":220,"wires":[["54778c5d.c51c44"],["54778c5d.c51c44"],["54778c5d.c51c44"],["54778c5d.c51c44"],["527385e4.8a7b7c"],[],[],[],[],[],[],[]]},{"id":"3a080226.1332ee","type":"function","z":"60c0e938.254938","name":"Position Change","func":"\n\nmsg.payload = []; //Payload como array\n\n//const values =    [584,583,615,614,646,678,677,709,708,740,772,804,836,868,900,933,966,999,1032,1065,1099,1133,1167,1201,1202,1236,1270,1304,1305,1306,1307,1308,1342,1375,1408,1407,1406,1405,1404,1370,1369,1335,1301,1267,1233,1200,1167,1134,1101,1068,1035,1002,969,936,903,871,839,840,808,776,744,712,713,714,715,716]\n//const intensity = [ 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 80, 80, 80, 80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  65,  50,  45,  40,  40,  40,  50,  65,  80,  85,  65,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50, 50, 50, 50, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65]\n\nvar position = global.get(\"roverCoord\")\nvar intensity = global.get(\"currentRoverTilt\")||65 //Número arbitrario inicial para inclinación en 0°\n\nfor (var i = 0; i < 1617; i++) { //Recorre todo el arreglo de las posibles posiciones\n    if ( i == position) { //Cuando coincide con la posición actual\n        msg.payload.push(intensity); //Rellena el espacio con la inclinación\n    }\n    else { //Para todo el resto del arreglo\n        msg.payload.push(0); //No marca nada\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["d6b22642.38ddc8"]]},{"id":"a726330a.515e8","type":"inject","z":"60c0e938.254938","name":"Show heatmap","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":239,"wires":[["3a080226.1332ee"]]},{"id":"bd1d4240.a95e6","type":"inject","z":"60c0e938.254938","name":"Show background","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":170,"y":120,"wires":[["ce394fd2.1da4b"]]},{"id":"a987b567.d00a78","type":"change","z":"60c0e938.254938","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":120,"wires":[["d6b22642.38ddc8"]]},{"id":"ce394fd2.1da4b","type":"file in","z":"60c0e938.254938","name":"Load Image","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Docs & Info\\Images\\terrenoEnsenada-Negativo.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":350,"y":120,"wires":[["ccad40d.d29bbc"]]},{"id":"ccad40d.d29bbc","type":"base64","z":"60c0e938.254938","name":"","action":"","property":"payload","x":500,"y":120,"wires":[["a987b567.d00a78"]]},{"id":"d6b22642.38ddc8","type":"ui_heat_map","z":"60c0e938.254938","group":"d0bd4eba.e5817","order":0,"width":"18","height":"12","name":"Current Position","rows":"33","columns":"49","minMax":true,"minimumValue":0,"maximumValue":"100","backgroundType":"image","backgroundColor":"#ff80c0","radius":"30","opacity":"0.5","blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":"3","x":900,"y":240,"wires":[]},{"id":"adff2d78.6410d","type":"comment","z":"60c0e938.254938","name":"Mapa de la misión","info":"Previamente guardado en esta computadora.","x":350,"y":80,"wires":[]},{"id":"a1f7f91e.d1ea98","type":"inject","z":"60c0e938.254938","name":"Reset Pos Inicial","topic":"","payload":"584","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["a7a44c0f.0d58a"]]},{"id":"a7a44c0f.0d58a","type":"change","z":"60c0e938.254938","name":"","rules":[{"t":"set","p":"roverCoord","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[[]]},{"id":"72494a3d.f9a344","type":"inject","z":"60c0e938.254938","name":"Set Flat Tilt","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["8b7aee41.8ba7c"]]},{"id":"8b7aee41.8ba7c","type":"change","z":"60c0e938.254938","name":"","rules":[{"t":"set","p":"currentRoverTilt","pt":"global","to":"65","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":600,"wires":[[]]},{"id":"2588c4b3.5105dc","type":"comment","z":"60c0e938.254938","name":"Control Heatmap teclado","info":"","x":230,"y":380,"wires":[]},{"id":"211527ad.1a7438","type":"link in","z":"60c0e938.254938","name":"toUpdateCoord","links":["54778c5d.c51c44"],"x":75,"y":420,"wires":[["9618c09d.8ce4d"]]},{"id":"9618c09d.8ce4d","type":"function","z":"60c0e938.254938","name":"Direction->Coord","func":"var direction = msg.payload\nvar newPos\nvar lastPos = global.get(\"roverCoord\")\nvar distanciaDown = 1\nvar distanciaRight = 33\n\nswitch (direction) {\n    case 'up':\n        if(lastPos%33===0) newPos=lastPos;\n        else newPos = lastPos - distanciaDown\n        break;\n    case 'down':\n        if((lastPos+1)%33===0) newPos=lastPos;\n        else newPos = lastPos + distanciaDown\n        break;\n    case 'right':\n        if(lastPos>1551) newPos=lastPos; //Si estaba en el límite derecho, no puede anvanzar más\n        else newPos = lastPos + distanciaRight\n        break;\n    case 'left':\n        if(lastPos<32) newPos=lastPos; //Si estaba en el límite izquierdo, no puede avanzar más\n        else newPos = lastPos - distanciaRight\n        break;\n}\n\nmsg.payload = newPos\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["a7a44c0f.0d58a","e7af3e42.a7816"]]},{"id":"54778c5d.c51c44","type":"link out","z":"e5e8c60e.967df8","name":"fromKeysSwitch","links":["211527ad.1a7438"],"x":655,"y":160,"wires":[]},{"id":"1760991e.9b73a7","type":"debug","z":"e5e8c60e.967df8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":180,"wires":[]},{"id":"527385e4.8a7b7c","type":"link out","z":"e5e8c60e.967df8","name":"fromreturnKey","links":["f39255fa.90ee98"],"x":655,"y":200,"wires":[]},{"id":"f39255fa.90ee98","type":"link in","z":"60c0e938.254938","name":"toResetMap","links":["527385e4.8a7b7c"],"x":75,"y":520,"wires":[["af237d37.a580f"]]},{"id":"af237d37.a580f","type":"change","z":"60c0e938.254938","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"584","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":520,"wires":[["a7a44c0f.0d58a"]]},{"id":"e7af3e42.a7816","type":"debug","z":"60c0e938.254938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":420,"wires":[]},{"id":"396ff67.af41a0a","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"T CPU","group":"96e36af9.327fd8","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-15","max":"90","colors":["#000ab5","#03e22b","#ca3838"],"seg1":"","seg2":"","x":270,"y":140,"wires":[]},{"id":"f5579d9c.fde88","type":"ui_text","z":"1dbac420.ec6cfc","group":"96e36af9.327fd8","order":3,"width":"4","height":"2","name":"","label":"Memory In Use :","format":"{{msg.payload}}%","layout":"col-center","x":240,"y":260,"wires":[]},{"id":"2d7e4fb8.512dd","type":"ui_chart","z":"1dbac420.ec6cfc","name":"CPU LOAD","group":"96e36af9.327fd8","order":2,"width":"4","height":"3","label":"CPU LOAD","chartType":"bar","legend":"false","xformat":"mm:ss","interpolate":"step","nodata":"NO DATA","dot":true,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":250,"y":200,"wires":[[],[]]},{"id":"bbdfccc8.31061","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"KG","group":"d4a78da.1b4757","order":7,"width":"5","height":"5","gtype":"gage","title":"Payload","label":"Rocks Weight","format":"{{value}} kg","min":0,"max":"1","colors":["#00b0b5","#00ff13","#3e38ca"],"seg1":"","seg2":"","x":530,"y":120,"wires":[]},{"id":"5b692c71.2d0b84","type":"link in","z":"1dbac420.ec6cfc","name":"toTCPUGaugeDash","links":["ec389116.c41c7"],"x":115,"y":140,"wires":[["396ff67.af41a0a"]]},{"id":"3769e2af.563b4e","type":"link in","z":"1dbac420.ec6cfc","name":"toCPULOADGraphDash","links":["1425e1b7.b25e4e"],"x":115,"y":200,"wires":[["2d7e4fb8.512dd"]]},{"id":"393358ab.2e0d98","type":"link in","z":"1dbac420.ec6cfc","name":"toMEMTextDash","links":["73456997.d29dc8"],"x":115,"y":260,"wires":[["f5579d9c.fde88"]]},{"id":"9a31ed29.3c6e2","type":"comment","z":"1dbac420.ec6cfc","name":"CPU","info":"","x":150,"y":60,"wires":[]},{"id":"f1ac20a5.6bdce","type":"comment","z":"1dbac420.ec6cfc","name":"Variables Principales","info":"","x":490,"y":60,"wires":[]},{"id":"fa5bf723.91c2b8","type":"link in","z":"1dbac420.ec6cfc","name":"toKG","links":["a5bd177e.61a478"],"x":415,"y":120,"wires":[["bbdfccc8.31061"]]},{"id":"c3907791.0bbb28","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"V Bat","group":"88771428.342088","order":1,"width":0,"height":0,"gtype":"gage","title":"V BAT","label":"","format":"{{value}}V","min":"7","max":"12","colors":["#fb0006","#e6e600","#29cd01"],"seg1":"10","seg2":"13","x":890,"y":140,"wires":[]},{"id":"f9242181.e657a","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"Temp Bat","group":"88771428.342088","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-15","max":"99","colors":["#00ffef","#58ff00","#ff0000"],"seg1":"25","seg2":"45","x":880,"y":200,"wires":[]},{"id":"2dec0a2f.8296a6","type":"link in","z":"1dbac420.ec6cfc","name":"toVBAT_Dash","links":["29f0cf43.2cf08"],"x":735,"y":140,"wires":[["c3907791.0bbb28"]]},{"id":"ce870c34.d014d","type":"link in","z":"1dbac420.ec6cfc","name":"toTEMPBAT_Dash","links":["3790fc33.1a8ab4"],"x":735,"y":200,"wires":[["f9242181.e657a"]]},{"id":"3f097db9.850ac2","type":"comment","z":"1dbac420.ec6cfc","name":"Batería","info":"","x":770,"y":60,"wires":[]},{"id":"f3ef7004.cf031","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"","group":"d4a78da.1b4757","order":1,"width":"5","height":"5","gtype":"gage","title":"Tilt Angle (Yaw)","label":"Degrees","format":"{{value}} D","min":"-30","max":"30","colors":["#ffffff","#0016ff","#ffffff"],"seg1":"","seg2":"","x":560,"y":160,"wires":[]},{"id":"fe010a65.d0c218","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"Tilt Angle (Roll)","group":"d4a78da.1b4757","order":3,"width":"5","height":"5","gtype":"gage","title":"Tilt Angle (Roll)","label":"Degrees","format":"{{value}} D","min":"-30","max":"30","colors":["#ffffff","#001aff","#ffffff"],"seg1":"","seg2":"","x":560,"y":200,"wires":[]},{"id":"a2032f60.38a4b","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"Atmosphere Temp","group":"d4a78da.1b4757","order":4,"width":"5","height":"5","gtype":"gage","title":"Atmosphere Temp","label":"Atmosphere Temp","format":"{{value}} °C","min":"-30","max":"160","colors":["#00d6ff","#00ff13","#ff9d00"],"seg1":"","seg2":"","x":550,"y":280,"wires":[]},{"id":"6224987c.eb0238","type":"link in","z":"1dbac420.ec6cfc","name":"toYawDash","links":["4a3c0934.c4ea08"],"x":415,"y":160,"wires":[["f3ef7004.cf031"]]},{"id":"81e58e84.02cdc","type":"link in","z":"1dbac420.ec6cfc","name":"toRollDash","links":["cf8cdd6c.43148"],"x":415,"y":200,"wires":[["fe010a65.d0c218"]]},{"id":"164353eb.ee264c","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"Current","group":"88771428.342088","order":3,"width":0,"height":0,"gtype":"gage","title":"Current","label":"","format":"{{value}} A","min":"0","max":"10","colors":["#0060ff","#58ff00","#ff0000"],"seg1":"2.5","seg2":"7.5","x":880,"y":260,"wires":[]},{"id":"82ea3e2b.1666e","type":"link in","z":"1dbac420.ec6cfc","name":"toCurrentGaugeDash","links":["bb986f58.f6059"],"x":735,"y":260,"wires":[["164353eb.ee264c"]]},{"id":"3a35915d.ff383e","type":"link in","z":"1dbac420.ec6cfc","name":"toAtmosphereTempDash","links":["b89d2759.fa2368"],"x":415,"y":280,"wires":[["a2032f60.38a4b"]]},{"id":"c2dbdaf4.4577e8","type":"ui_text","z":"1dbac420.ec6cfc","group":"d4a78da.1b4757","order":5,"width":"3","height":"1","name":"Distance to home","label":"Distance to home","format":"{{msg.payload}}","layout":"col-center","x":550,"y":320,"wires":[]},{"id":"f64fa81d.4cf038","type":"ui_text","z":"1dbac420.ec6cfc","group":"d4a78da.1b4757","order":6,"width":"3","height":"1","name":"Odometer","label":"Odometer","format":"{{msg.payload}}","layout":"col-center","x":580,"y":360,"wires":[]},{"id":"2f2ecc38.461a84","type":"ui_chart","z":"1dbac420.ec6cfc","name":"","group":"d4a78da.1b4757","order":8,"width":"5","height":"3","label":"Discharging","chartType":"horizontalBar","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#2c1fb4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":400,"wires":[[],[]]},{"id":"d0b84e13.e1d4b","type":"ui_gauge","z":"1dbac420.ec6cfc","name":"Relative Angle","group":"d4a78da.1b4757","order":2,"width":"5","height":"5","gtype":"compass","title":"Relative Angle","label":"Degree","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":240,"wires":[]},{"id":"942860d7.e911b","type":"link in","z":"1dbac420.ec6cfc","name":"toDistanceHomeDash","links":["bb484a0f.656738"],"x":415,"y":320,"wires":[["c2dbdaf4.4577e8"]]},{"id":"e269f14e.1191d","type":"link in","z":"1dbac420.ec6cfc","name":"toOdometerDash","links":["332110ef.12bb9"],"x":415,"y":360,"wires":[["f64fa81d.4cf038"]]},{"id":"facd4f4.cb500b","type":"link in","z":"1dbac420.ec6cfc","name":"toRelativeAngleDash","links":["6a72431f.b610cc"],"x":415,"y":240,"wires":[["d0b84e13.e1d4b"]]},{"id":"2aab1d8f.b1f282","type":"link in","z":"1dbac420.ec6cfc","name":"toDischargingDash","links":["29f0cf43.2cf08"],"x":415,"y":400,"wires":[["2f2ecc38.461a84"]]},{"id":"453f0a85.b00b54","type":"inject","z":"4a87a320.fc58bc","name":"VOLTS","topic":"","payload":"","payloadType":"str","repeat":"40","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":220,"wires":[["fe8366e4.1ca9d8"]]},{"id":"397b06c.d24dafa","type":"inject","z":"4a87a320.fc58bc","name":"TEMP BAT","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":260,"wires":[["eb410879.f80708"]]},{"id":"2d2e56d7.e0707a","type":"link out","z":"4a87a320.fc58bc","name":"fromVolts","links":[],"x":655,"y":220,"wires":[]},{"id":"3790fc33.1a8ab4","type":"link out","z":"4a87a320.fc58bc","name":"fromTempBat","links":["ce870c34.d014d"],"x":655,"y":260,"wires":[]},{"id":"a5bd177e.61a478","type":"link out","z":"4a87a320.fc58bc","name":"fromKG","links":["fa5bf723.91c2b8"],"x":655,"y":300,"wires":[]},{"id":"2933a177.12d25e","type":"inject","z":"4a87a320.fc58bc","name":"KG","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":300,"wires":[["34bdcff7.c7ce3"]]},{"id":"fe8366e4.1ca9d8","type":"function","z":"4a87a320.fc58bc","name":"Generador VOLTS","func":"//Obtiene el valor de volts, o asigna el default en 12\nvar x = flow.get('volts')||12;\nif(x<7) x=12; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('volts',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["2d2e56d7.e0707a"]]},{"id":"eb410879.f80708","type":"function","z":"4a87a320.fc58bc","name":"Generador TEMP BAT","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["3790fc33.1a8ab4"]]},{"id":"2482e663.5c815a","type":"inject","z":"4a87a320.fc58bc","name":"Degrees Yaw","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":340,"wires":[["e4863de9.8db29"]]},{"id":"34bdcff7.c7ce3","type":"function","z":"4a87a320.fc58bc","name":"Generador ROCKS","func":"//Obtiene el valor de rocks, o asigna el default en 12\nvar x = flow.get('rocks')||0;\nif(x>1) x=0; //Por si ya llegamos a 1kg.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//crece el valor \nx=x+0.1;\n\nflow.set('rocks',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["a5bd177e.61a478"]]},{"id":"e4863de9.8db29","type":"function","z":"4a87a320.fc58bc","name":"Generador Degrees Yaw","func":"//Lista de valores de demo\nvar x = [ 25.0, 20, 10,\n          14, 0, -15,\n          -12, -22, -24, -28]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["4a3c0934.c4ea08"]]},{"id":"4a3c0934.c4ea08","type":"link out","z":"4a87a320.fc58bc","name":"fromYaw","links":["6224987c.eb0238"],"x":655,"y":340,"wires":[]},{"id":"1c8f4965.4dc697","type":"inject","z":"4a87a320.fc58bc","name":"Degrees Roll","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":380,"wires":[["650af868.0e1bd8"]]},{"id":"650af868.0e1bd8","type":"function","z":"4a87a320.fc58bc","name":"Generador Degrees Roll","func":"//Lista de valores de demo\nvar x = [ 14, -10, 1.1,\n          9.2, -0.2, -15,\n          -12, -8, -6, -29.9]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["cf8cdd6c.43148"]]},{"id":"cf8cdd6c.43148","type":"link out","z":"4a87a320.fc58bc","name":"fromRoll","links":["81e58e84.02cdc"],"x":655,"y":380,"wires":[]},{"id":"d84c76e5.bbc0b8","type":"inject","z":"4a87a320.fc58bc","name":"AMPERES","topic":"","payload":"","payloadType":"str","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":420,"wires":[["5cef327f.1944cc"]]},{"id":"bb986f58.f6059","type":"link out","z":"4a87a320.fc58bc","name":"fromAmperes","links":["82ea3e2b.1666e"],"x":655,"y":420,"wires":[]},{"id":"5cef327f.1944cc","type":"function","z":"4a87a320.fc58bc","name":"Generador AMPERES","func":"//Obtiene el valor de amperes, o asigna el default en 10\nvar x = flow.get('Amper')||10;\nif(x<0) x=10; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('Amper',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["bb986f58.f6059"]]},{"id":"48ab7f60.6ff82","type":"inject","z":"4a87a320.fc58bc","name":"ATMO TEMP","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":280,"y":460,"wires":[["3546b98b.abecb6"]]},{"id":"b89d2759.fa2368","type":"link out","z":"4a87a320.fc58bc","name":"fromAtmTemp","links":["3a35915d.ff383e"],"x":655,"y":460,"wires":[]},{"id":"3546b98b.abecb6","type":"function","z":"4a87a320.fc58bc","name":"Generador TEMP ATMOS","func":"//Lista de valores de demo\nvar x = [ 50, 25, 40,\n          40, 32.7, 35,\n          28, 32, 29, 42]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["b89d2759.fa2368"]]},{"id":"899efa09.00a578","type":"inject","z":"4a87a320.fc58bc","name":"Distance to Home","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":290,"y":500,"wires":[["8a9ac571.0e3d98"]]},{"id":"bb484a0f.656738","type":"link out","z":"4a87a320.fc58bc","name":"fromDistanceHome","links":["942860d7.e911b"],"x":655,"y":500,"wires":[]},{"id":"8a9ac571.0e3d98","type":"function","z":"4a87a320.fc58bc","name":"Generador Home","func":"//Obtiene el valor de metros, o asigna el default en 0\nvar x = flow.get('Meters')||100;\nif(x>100) x=0; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x+0.5;\n\nflow.set('Meters',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":500,"wires":[["bb484a0f.656738"]]},{"id":"ce9919fe.c88378","type":"inject","z":"4a87a320.fc58bc","name":"Odometer","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":540,"wires":[["1b0885ce.46db8a"]]},{"id":"332110ef.12bb9","type":"link out","z":"4a87a320.fc58bc","name":"fromOdometer","links":["e269f14e.1191d"],"x":655,"y":540,"wires":[]},{"id":"1b0885ce.46db8a","type":"function","z":"4a87a320.fc58bc","name":"Generador Odometer","func":"//Obtiene el valor de metros, o asigna el default en 0\nvar x = flow.get('Meters')||200;\nif(x>200) x=0; //Por si ya llegamos a 200.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x+0.1;\n\nflow.set('Meters',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":540,"wires":[["332110ef.12bb9"]]},{"id":"e715019e.91ec5","type":"inject","z":"4a87a320.fc58bc","name":"Relative Angle","topic":"","payload":"","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":580,"wires":[["2f771fe.d21fbe"]]},{"id":"2f771fe.d21fbe","type":"function","z":"4a87a320.fc58bc","name":"Generador Relative Angle","func":"//Lista de valores de demo\nvar x = [ 299, 340, 14,\n          92.3, 1, 226,\n         188, 301, 106, 331]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["6a72431f.b610cc"]]},{"id":"6a72431f.b610cc","type":"link out","z":"4a87a320.fc58bc","name":"fromRelativeAngle","links":["facd4f4.cb500b"],"x":655,"y":580,"wires":[]},{"id":"532bea78.0aada4","type":"inject","z":"4a87a320.fc58bc","name":"Discharging","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":620,"wires":[["dbf011c5.77581"]]},{"id":"dbf011c5.77581","type":"function","z":"4a87a320.fc58bc","name":"Generador Discharging","func":"//Lista de valores de demo\nvar x = [ 29, 42, 44,\n          1, 99, 100,\n         86, 72, 54, 38]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":620,"wires":[["29f0cf43.2cf08"]]},{"id":"29f0cf43.2cf08","type":"link out","z":"4a87a320.fc58bc","name":"fromDischarging","links":["2aab1d8f.b1f282","2dec0a2f.8296a6"],"x":655,"y":620,"wires":[]},{"id":"2d1da1e2.cea30e","type":"comment","z":"ff231738.383d08","name":"Conectarlo a todas las variables a registrar","info":"","x":380,"y":100,"wires":[]}]