flows.json
[{"id":"4a87a320.fc58bc","type":"tab","label":"DEMO","disabled":false,"info":""},{"id":"74e3f718.0b1be8","type":"tab","label":"Heatmap Demos","disabled":false,"info":""},{"id":"60c0e938.254938","type":"tab","label":"Heatmap Test","disabled":false,"info":""},{"id":"e5e8c60e.967df8","type":"tab","label":"KeyboardControl","disabled":false,"info":""},{"id":"ff231738.383d08","type":"tab","label":"Data Storage","disabled":true,"info":""},{"id":"4d830b21.929554","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d1ee2ebb.630d4","type":"ui_group","z":"","name":"Heatmap","tab":"ea4ec0ce.0d947","disp":true,"width":"18","collapse":false},{"id":"5c083981.6e9bf8","type":"ui_tab","z":"","name":"Traced Heatmap (DEMO)","icon":"dashboard","order":2},{"id":"d0bd4eba.e5817","type":"ui_group","z":"","name":"CurrentPos Test","tab":"18b1d74.6b38129","order":1,"disp":true,"width":"18","collapse":false},{"id":"ea4ec0ce.0d947","type":"ui_tab","z":"","name":"Current Position (DEMO)","icon":"dashboard","order":3},{"id":"5170e8d7.b586d8","type":"ui_group","z":"","name":"Heatmap","tab":"5c083981.6e9bf8","disp":true,"width":"18","collapse":false},{"id":"56ae78bc.256398","type":"HIDConfig","z":"","vid":"1118","pid":"767","name":"XboxC"},{"id":"97264f1f.afc62","type":"HIDConfig","z":"","vid":"1112","pid":"58","name":"Mouse"},{"id":"18b1d74.6b38129","type":"ui_tab","z":"","name":"Heatmap Test","icon":"dashboard","order":1},{"id":"f169c694.bdfc38","type":"function","z":"74e3f718.0b1be8","name":"Position Change","func":"// Generate some random data\n// See https://www.patrick-wied.at/static/heatmapjs/example-minimal-config.html\nmsg.payload = [];\n\nconst values =    [584,583,615,614,646,678,677,709,708,740,772,804,836,868,900,933,966,999,1032,1065,1099,1133,1167,1201,1202,1236,1270,1304,1305,1306,1307,1308,1342,1375,1408,1407,1406,1405,1404,1370,1369,1335,1301,1267,1233,1200,1167,1134,1101,1068,1035,1002,969,936,903,871,839,840,808,776,744,712,713,714,715,716]\nconst intensity = [ 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 80, 80, 80, 80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  65,  50,  45,  40,  40,  40,  50,  65,  80,  85,  65,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50, 50, 50, 50, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65]\nvar index = context.get('value_index') || 0;\n\nif (index >= values.length) {\n    index = 0;\n}\n\nfor (var i = 0; i < 1617; i++) {\n    if ( i === values[index]) {\n        msg.payload.push(intensity[index]);\n    }\n    else {\n        msg.payload.push(0);\n    }\n}\n\nindex += 1;\ncontext.set('value_index', index);\n//msg.payload.intensityLength=values.length\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["1691b5eb.dec50a"]]},{"id":"ea7c1294.e05db","type":"inject","z":"74e3f718.0b1be8","name":"Show heatmap","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":200,"wires":[["9116aa3b.cf7168","f169c694.bdfc38"]]},{"id":"19c16806.8fa1f8","type":"inject","z":"74e3f718.0b1be8","name":"Show background","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":370,"y":200,"wires":[["c0dc092b.0ef928"]]},{"id":"4c7aa180.42c9c","type":"change","z":"74e3f718.0b1be8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":200,"wires":[["849f807c.33d6e","1691b5eb.dec50a"]]},{"id":"c0dc092b.0ef928","type":"file in","z":"74e3f718.0b1be8","name":"Load Image","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Docs & Info\\Images\\terrenoEnsenada-Negativo.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":550,"y":200,"wires":[["6bc4b5ff.048e6c"]]},{"id":"9116aa3b.cf7168","type":"function","z":"74e3f718.0b1be8","name":"Draw Route","func":"var coordActives = global.get('ruta')||[584,583,615,614,646,678,677,709,708,740,772,804,836,868,900,933,966,999,1032,1065,1099,1133,1167,1201,1202,1236,1270,1304,1305,1306,1307,1308,1342,1375,1408,1407,1406,1405,1404,1370,1369,1335,1301,1267,1233,1200,1167,1134,1101,1068,1035,1002,969,936,903,871,839,840,808,776,744,712,713,714,715,716]\n//var intensity = flow.get('currTilt')||65;\nconst intensity = [ 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 80, 80, 80, 80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  65,  50,  45,  40,  40,  40,  50,  65,  80,  85,  65,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50, 50, 50, 50, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65]\nflow.set('currTilt',intensity) //Sólo para el primer uso\n\nmsg.payload = [] //Configura el Payload como arreglo\n\nfor(var i = 0; i < 1617; i++) //Tamaño de la Matriz\n{\n    for (index=0; index < coordActives.length; index++) {//Revisa cada coordenada,\n        if (i === coordActives[index]) {// a ver si estamos en alguna de las activas\n           msg.payload[i]=intensity[index]; //Si sí, la colorea\n           break;\n      }\n        else {\n            msg.payload[i]=0; //Si no, la deja en azul\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["849f807c.33d6e","98c6ae23.a9746"]]},{"id":"467b8430.1ba46c","type":"inject","z":"74e3f718.0b1be8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1.5","x":130,"y":420,"wires":[["d287520c.01a82"]]},{"id":"d287520c.01a82","type":"function","z":"74e3f718.0b1be8","name":"Update Tilt Map","func":"var coordActives = global.get('ruta')||[650, 617, 584, 583, 582, 581, 580, 579, 578]\nvar intensity = flow.get('currTilt');\nflow.set('currTilt',intensity) //Sólo para el primer uso\n\nmsg.payload = [] //Configura el Payload como arreglo\n\nfor(var i = 0; i < 1617; i++) //Tamaño de la Matriz\n{\n    for (index=0; index < coordActives.length; index++) {//Revisa cada coordenada,\n        if (i === coordActives[index]) {// a ver si estamos en alguna de las activas\n           msg.payload[i]=intensity; //Si sí, la colorea\n           break;\n      }\n        else {\n            msg.payload[i]=0; //Si no, la deja en azul\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[[]]},{"id":"6bc4b5ff.048e6c","type":"base64","z":"74e3f718.0b1be8","name":"","action":"","property":"payload","x":700,"y":200,"wires":[["4c7aa180.42c9c"]]},{"id":"849f807c.33d6e","type":"ui_heat_map","z":"74e3f718.0b1be8","group":"5170e8d7.b586d8","order":0,"width":"18","height":"12","name":"Traced Route","rows":"33","columns":"49","minMax":true,"minimumValue":0,"maximumValue":"100","backgroundType":"image","backgroundColor":"#ff80c0","radius":"30","opacity":"0.5","blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":"3","x":1080,"y":160,"wires":[]},{"id":"971322f0.f9aed","type":"inject","z":"4a87a320.fc58bc","name":"VOLTS","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"2","x":260,"y":280,"wires":[["c39cdae1.ba05a8"]]},{"id":"79974ed4.be342","type":"inject","z":"4a87a320.fc58bc","name":"TEMP BAT","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":270,"y":340,"wires":[["617c674b.d89158"]]},{"id":"4e469d5.bc00e64","type":"link out","z":"4a87a320.fc58bc","name":"Volt out","links":["fc275582.bacc78","bd0c4ded.c7846"],"x":675,"y":280,"wires":[]},{"id":"bc03ad83.2564c","type":"link out","z":"4a87a320.fc58bc","name":"","links":["d3f9034a.a8eed","26ce0356.880c0c"],"x":675,"y":340,"wires":[]},{"id":"73456997.d29dc8","type":"link out","z":"4a87a320.fc58bc","name":"","links":["464ffa52.8338c4"],"x":675,"y":220,"wires":[]},{"id":"1425e1b7.b25e4e","type":"link out","z":"4a87a320.fc58bc","name":"CPU Load out","links":["30786e50.8d97b2","5ed36727.2147b8","bd0c4ded.c7846"],"x":675,"y":160,"wires":[]},{"id":"ec389116.c41c7","type":"link out","z":"4a87a320.fc58bc","name":"CPU Temp out","links":["49740ab9.6d0bc4","bd0c4ded.c7846"],"x":675,"y":100,"wires":[]},{"id":"531c1356.af236c","type":"inject","z":"4a87a320.fc58bc","name":"T CPU","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"2","x":260,"y":100,"wires":[["35bd7514.97e1ba"]]},{"id":"af51b6c.9898348","type":"inject","z":"4a87a320.fc58bc","name":"CPU LOAD","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"2","x":270,"y":160,"wires":[["b45f8b3b.f9e888"]]},{"id":"4c642c2b.cdad94","type":"inject","z":"4a87a320.fc58bc","name":"MEM ","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":220,"wires":[["77dd90e.375217"]]},{"id":"ca70d919.f92928","type":"link out","z":"4a87a320.fc58bc","name":"","links":["703e7dee.129464"],"x":675,"y":400,"wires":[]},{"id":"a06e2a4d.54ca58","type":"inject","z":"4a87a320.fc58bc","name":"KG","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":400,"wires":[["2ab24711.7aa558"]]},{"id":"1c35ceed.39db61","type":"comment","z":"4a87a320.fc58bc","name":"Aquí se van a estar generando valores aleatorios pero coherentes para cada gráfica para el demo de la interfaz.","info":"","x":400,"y":40,"wires":[]},{"id":"35bd7514.97e1ba","type":"function","z":"4a87a320.fc58bc","name":"Generador T CPU***","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["ec389116.c41c7"]]},{"id":"b45f8b3b.f9e888","type":"function","z":"4a87a320.fc58bc","name":"Generador CPU LOAD","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          82.1, 29.6, 55.3, 100]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["1425e1b7.b25e4e"]]},{"id":"77dd90e.375217","type":"function","z":"4a87a320.fc58bc","name":"Generador MEM","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["73456997.d29dc8"]]},{"id":"c39cdae1.ba05a8","type":"function","z":"4a87a320.fc58bc","name":"Generador VOLTS","func":"//Obtiene el valor de volts, o asigna el default en 12\nvar x = flow.get('volts')||12;\nif(x<7) x=12; //Por si ya llegamos a 7.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//Decrece el valor del voltaje\nx=x-0.1;\n\nflow.set('volts',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["4e469d5.bc00e64"]]},{"id":"617c674b.d89158","type":"function","z":"4a87a320.fc58bc","name":"Generador TEMP BAT","func":"//Lista de valores de demo\nvar x = [ 25.0, 36.5, 45.6,\n          20.1, 72.7, 30.0,\n          32.1, 29.6, 55.3, 22.1]\n          \n//Genera número aleatorio entero entre 0 y 9.  \nvar addr = Math.floor((Math.random() * 10))\n\n//El payload se vuelve alguno de los valores del arreglo.\nmsg.payload = x[addr]\n\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["bc03ad83.2564c"]]},{"id":"2ab24711.7aa558","type":"function","z":"4a87a320.fc58bc","name":"Generador ROCKS","func":"//Obtiene el valor de rocks, o asigna el default en 12\nvar x = flow.get('rocks')||0;\nif(x>1) x=0; //Por si ya llegamos a 1kg.\nmsg.payload = x.toFixed(1); //Sólo un decimal\n//crece el valor \nx=x+0.1;\n\nflow.set('rocks',x);\n//El valor sale del nodo\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["ca70d919.f92928"]]},{"id":"bd0c4ded.c7846","type":"link in","z":"ff231738.383d08","name":"Variables","links":["ec389116.c41c7","4e469d5.bc00e64","1425e1b7.b25e4e"],"x":235,"y":160,"wires":[["b7fb9c45.6eade"]]},{"id":"a3326869.752058","type":"csv","z":"ff231738.383d08","name":"Data to CSV conv","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":690,"y":160,"wires":[["33a5eb64.d61524"]]},{"id":"365aea51.9326d6","type":"join","z":"ff231738.383d08","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":160,"wires":[["a3326869.752058"]]},{"id":"b7fb9c45.6eade","type":"batch","z":"ff231738.383d08","name":"Grouper","mode":"interval","count":"4","overlap":0,"interval":"1","allowEmptySequence":true,"topics":[],"x":360,"y":160,"wires":[["365aea51.9326d6"]]},{"id":"33a5eb64.d61524","type":"file","z":"ff231738.383d08","name":"Data File","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Serch\\MissionLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":880,"y":160,"wires":[[]]},{"id":"4c2e8191.953aa","type":"inject","z":"4a87a320.fc58bc","name":"","topic":"","payload":"Charge (V)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":790,"y":240,"wires":[["4e469d5.bc00e64"]]},{"id":"31c2a49d.6220cc","type":"inject","z":"4a87a320.fc58bc","name":"","topic":"","payload":"CPU Load (%)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":800,"y":140,"wires":[["1425e1b7.b25e4e"]]},{"id":"98aa37ca.f3ae38","type":"inject","z":"4a87a320.fc58bc","name":"","topic":"","payload":"CPU Temp (C)","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":800,"y":60,"wires":[["ec389116.c41c7"]]},{"id":"7c1d2dab.6fb7a4","type":"inject","z":"ff231738.383d08","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.05","x":470,"y":360,"wires":[["9ff642f6.e25f6"]]},{"id":"9ff642f6.e25f6","type":"file","z":"ff231738.383d08","name":"Delete data File","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Serch\\MissionLog.csv","appendNewline":false,"createDir":true,"overwriteFile":"delete","encoding":"none","x":660,"y":360,"wires":[[]]},{"id":"1691b5eb.dec50a","type":"ui_heat_map","z":"74e3f718.0b1be8","group":"d1ee2ebb.630d4","order":0,"width":"18","height":"12","name":"Current Position","rows":"33","columns":"49","minMax":true,"minimumValue":0,"maximumValue":"100","backgroundType":"image","backgroundColor":"#ff80c0","radius":"30","opacity":"0.5","blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":"3","x":1080,"y":240,"wires":[]},{"id":"98c6ae23.a9746","type":"debug","z":"74e3f718.0b1be8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":100,"wires":[]},{"id":"f4373c59.1de4a","type":"keypress","z":"e5e8c60e.967df8","key":"","x":120,"y":220,"wires":[["89d613b4.3fe0c"]]},{"id":"89d613b4.3fe0c","type":"change","z":"e5e8c60e.967df8","name":"Key->Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["b61fce54.e594d","1760991e.9b73a7"]]},{"id":"b61fce54.e594d","type":"switch","z":"e5e8c60e.967df8","name":"Keys","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"right","vt":"str"},{"t":"eq","v":"left","vt":"str"},{"t":"eq","v":"return","vt":"str"},{"t":"eq","v":"f1","vt":"str"},{"t":"eq","v":"f2","vt":"str"},{"t":"eq","v":"f3","vt":"str"},{"t":"eq","v":"w","vt":"str"},{"t":"eq","v":"a","vt":"str"},{"t":"eq","v":"s","vt":"str"},{"t":"eq","v":"d","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":530,"y":220,"wires":[["54778c5d.c51c44"],["54778c5d.c51c44"],["54778c5d.c51c44"],["54778c5d.c51c44"],["527385e4.8a7b7c"],[],[],[],[],[],[],[]]},{"id":"3a080226.1332ee","type":"function","z":"60c0e938.254938","name":"Position Change","func":"\n\nmsg.payload = []; //Payload como array\n\n//const values =    [584,583,615,614,646,678,677,709,708,740,772,804,836,868,900,933,966,999,1032,1065,1099,1133,1167,1201,1202,1236,1270,1304,1305,1306,1307,1308,1342,1375,1408,1407,1406,1405,1404,1370,1369,1335,1301,1267,1233,1200,1167,1134,1101,1068,1035,1002,969,936,903,871,839,840,808,776,744,712,713,714,715,716]\n//const intensity = [ 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 80, 80, 80, 80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  80,  65,  50,  45,  40,  40,  40,  50,  65,  80,  85,  65,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50,  50, 50, 50, 50, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65]\n\nvar position = global.get(\"roverCoord\")\nvar intensity = global.get(\"currentRoverTilt\")||65 //Número arbitrario inicial para inclinación en 0°\n\nfor (var i = 0; i < 1617; i++) { //Recorre todo el arreglo de las posibles posiciones\n    if ( i == position) { //Cuando coincide con la posición actual\n        msg.payload.push(intensity); //Rellena el espacio con la inclinación\n    }\n    else { //Para todo el resto del arreglo\n        msg.payload.push(0); //No marca nada\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["d6b22642.38ddc8"]]},{"id":"a726330a.515e8","type":"inject","z":"60c0e938.254938","name":"Show heatmap","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":239,"wires":[["3a080226.1332ee"]]},{"id":"bd1d4240.a95e6","type":"inject","z":"60c0e938.254938","name":"Show background","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":170,"y":120,"wires":[["ce394fd2.1da4b"]]},{"id":"a987b567.d00a78","type":"change","z":"60c0e938.254938","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":120,"wires":[["d6b22642.38ddc8"]]},{"id":"ce394fd2.1da4b","type":"file in","z":"60c0e938.254938","name":"Load Image","filename":"C:\\Users\\carlo\\Documents\\HUBL\\Docs & Info\\Images\\terrenoEnsenada-Negativo.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":350,"y":120,"wires":[["ccad40d.d29bbc"]]},{"id":"ccad40d.d29bbc","type":"base64","z":"60c0e938.254938","name":"","action":"","property":"payload","x":500,"y":120,"wires":[["a987b567.d00a78"]]},{"id":"d6b22642.38ddc8","type":"ui_heat_map","z":"60c0e938.254938","group":"d0bd4eba.e5817","order":0,"width":"18","height":"12","name":"Current Position","rows":"33","columns":"49","minMax":true,"minimumValue":0,"maximumValue":"100","backgroundType":"image","backgroundColor":"#ff80c0","radius":"30","opacity":"0.5","blur":0.85,"showValues":false,"gridType":"none","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":"3","x":900,"y":240,"wires":[]},{"id":"adff2d78.6410d","type":"comment","z":"60c0e938.254938","name":"Mapa de la misión","info":"Previamente guardado en esta computadora.","x":350,"y":80,"wires":[]},{"id":"a1f7f91e.d1ea98","type":"inject","z":"60c0e938.254938","name":"Reset Pos Inicial","topic":"","payload":"584","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["a7a44c0f.0d58a"]]},{"id":"a7a44c0f.0d58a","type":"change","z":"60c0e938.254938","name":"","rules":[{"t":"set","p":"roverCoord","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[[]]},{"id":"72494a3d.f9a344","type":"inject","z":"60c0e938.254938","name":"Set Flat Tilt","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["8b7aee41.8ba7c"]]},{"id":"8b7aee41.8ba7c","type":"change","z":"60c0e938.254938","name":"","rules":[{"t":"set","p":"currentRoverTilt","pt":"global","to":"65","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":600,"wires":[[]]},{"id":"2588c4b3.5105dc","type":"comment","z":"60c0e938.254938","name":"Sólo para pruebas","info":"","x":150,"y":360,"wires":[]},{"id":"211527ad.1a7438","type":"link in","z":"60c0e938.254938","name":"toUpdateCoord","links":["54778c5d.c51c44"],"x":75,"y":420,"wires":[["9618c09d.8ce4d"]]},{"id":"9618c09d.8ce4d","type":"function","z":"60c0e938.254938","name":"Direction->Coord","func":"var direction = msg.payload\nvar newPos\nvar lastPos = global.get(\"roverCoord\")\nvar distanciaDown = 1\nvar distanciaRight = 33\n\nswitch (direction) {\n    case 'up':\n        if(lastPos%33===0) newPos=lastPos;\n        else newPos = lastPos - distanciaDown\n        break;\n    case 'down':\n        if((lastPos+1)%33===0) newPos=lastPos;\n        else newPos = lastPos + distanciaDown\n        break;\n    case 'right':\n        if(lastPos>1551) newPos=lastPos; //Si estaba en el límite derecho, no puede anvanzar más\n        else newPos = lastPos + distanciaRight\n        break;\n    case 'left':\n        if(lastPos<32) newPos=lastPos; //Si estaba en el límite izquierdo, no puede avanzar más\n        else newPos = lastPos - distanciaRight\n        break;\n}\n\nmsg.payload = newPos\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":420,"wires":[["a7a44c0f.0d58a","e7af3e42.a7816"]]},{"id":"54778c5d.c51c44","type":"link out","z":"e5e8c60e.967df8","name":"fromKeysSwitch","links":["211527ad.1a7438"],"x":655,"y":160,"wires":[]},{"id":"1760991e.9b73a7","type":"debug","z":"e5e8c60e.967df8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":180,"wires":[]},{"id":"527385e4.8a7b7c","type":"link out","z":"e5e8c60e.967df8","name":"returnKey","links":["f39255fa.90ee98"],"x":655,"y":200,"wires":[]},{"id":"f39255fa.90ee98","type":"link in","z":"60c0e938.254938","name":"","links":["527385e4.8a7b7c"],"x":75,"y":520,"wires":[["af237d37.a580f"]]},{"id":"af237d37.a580f","type":"change","z":"60c0e938.254938","name":"reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"584","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":520,"wires":[["a7a44c0f.0d58a"]]},{"id":"e7af3e42.a7816","type":"debug","z":"60c0e938.254938","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":420,"wires":[]}]